{% extends 'teacher_template/base_template.html' %}
{% block page_title %}
      Attendance Table for {{ grade.class_name }}
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
    <section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Take Attendance</h3>
              </div>
          <div class="card-body">
            <div class="form-group">
              <label>Class</label>
              <select class="form-control" name="grade" id="grade">
                  {% for class in classes %}
                      <option value="{{ class.id }}">{{ class.class_name }}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Term</label>
              <select class="form-control" name="term" id="term">
                  {% for term in terms %}
                      <option value="{{ term.id }}">{{ term.term_start }} To {{ term.term_end }}</option>
                  {% endfor %}
              </select>
            </div>
                <div class="form-group">
                  {% if messages %}
                      {% for message in messages %}
                      {% if message.tags == 'error' %}
                      <div class="alert alert-danger" style="margin-top:10px;">{{ message }}</div>
                      {% endif %}
                      {% if message.tags == 'success' %}
                      <div class="alert alert-success" style="margin-top:10px;">{{ message }}</div>
                      {% endif %}
                      {% endfor %}
                  {% endif %}
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-block" id="fetch_new_attendance">Fetch</button>
              </div>
              <div class='form-group'>
                <label>Attendance Date</label>
                <input type='date' name='attendance_date' id='attendance_date' class='form-control datetimepicker-input' value="">
              </div>
              <div class="form-group">
                <b>Total Number Of Students: {{ count_students }}</b><br>
                <b>Total Number Of Males: {{ male_count }}</b><br>
                <b>Total Number Of Females: {{ female_count }}</b><br>
                <b>Present: </b><b id="p_counter"></b><br>
                <b>Absent: </b><b id="a_counter"></b><br>
              </div>
              <div class="form-group" style="float: right;">
                <b>Month: </b><b id="month"></b>
              </div>
                <table id="table_head" class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 5px">#</th>
                      <th style="width: 40px">Admission Number</th>
                      <th style="width: 70px">Name</th>
                      <th style="width: 40px">DOB</th>
                      <th style="width: 10px">Status</th>
                    </tr>
                  </thead>
                  <tbody id="student_data">
                  </tbody>
                </table>
              </div>
              <div class='card-footer'>
                <button id="save_new_attendance" class="btn btn-success btn-block" type="button">Save Attendance</button>
              </div>
            </div>
        </div>
    </div>
    </section>
    <!-- /.content -->
  {% endblock main_content %}
  {% block custom_js %}
  <script>
  $(document).ready(function(){
      var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];;
      var date = new Date();
      document.getElementById('month').innerHTML = months[date.getMonth()];
      $("#fetch_new_attendance").click(function(){
          var grade = $("#grade").val()
          var term = $("#term").val()
          $.ajax({
              url:'{% url "get_att_table" %}',
              type:'POST',
              data:{grade:grade,term:term},
          })
          .done(function(response){
              var json_data=JSON.parse(response);
              var form_data='';
              for(key in json_data){
                form_data+='<tr><td>' + 1 + '</td><td>' + json_data[key]['admission'] + '</td><td>' + json_data[key]['name'] + '</td><td>' + json_data[key]['DOB'] + '</td><td><div class="form-check"><input type="checkbox" checked="checked" name="student_data[]" value="'+json_data[key]['id']+'"></td></tr>';
              }
              $("#student_data").html(form_data);
          })
          .fail(function(response){
              alert("Error. Cannot fetch data")
          })
          $(document).on("click","#save_new_attendance",function(){
            $(this).attr("disabled","disabled")
            $(this).text("Saving Attendance...")
            var student_data=$("input[name='student_data[]']").map(function(){
                  if($(this).is(":checked")){
                    return {"id":$(this).val(),"status":1};
                  }
                  else{
                    return {"id":$(this).val(),"status":0};
                  }
            }).get()
            var attendance_date=$("#attendance_date").val();
            var class_id=$("#grade").val();
            var term_id=$("#term").val();
            console.log(student_data)
            student_data=JSON.stringify(student_data)

            $.ajax({
                url:'{% url "save_new_attendance_data" %}',
                type:'POST',
                data:{student_ids:student_data,attendance_date:attendance_date,class_id:class_id,term_id:term_id},
            })
            .done(function(response){
              if(response=="OK"){
                alert("Attendance Data Saved")
              }
              else{
                alert("Couldn't Save Attendance Data")
              }
              location.reload()
            })
            .fail(function(response){
                alert("Error, Cannot save data")
            })
          })
      })
  })
  </script>
  {% endblock custom_js %}