{% extends 'teacher_template/base_template.html' %}
  {% block page_title %}
    View and Update attendance
  {% endblock page_title %}
  {% block main_content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">View and Update Attendance</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">
                  <div class="form-group">
                    <label>Subject</label>
                    <select class="form-control" name="subject" id="subject">
                        {% for subject in subjects %}
                            <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Term</label>
                    <select class="form-control" name="term_id" id="term_id">
                        {% for term in term_id %}
                            <option value="{{ term.id }}">{{ term.term_start }} To {{ term.term_end }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block" id="fetch_attendance_data">Fetch Attendance Data</button>
                  </div>
                  <div class="form-group">
                    <label>Attendance date</label>
                    <select class="form-control" name="attendance_date" id="attendance_date">
                    </select>
                  </div>
                      <div class="form-group">
                        {% if messages %}
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger" style="margin-top:10px;">{{ message }}</div>
                            {% endif %}
                            {% if message.tags == 'success' %}
                            <div class="alert alert-success" style="margin-top:10px;">{{ message }}</div>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="button" class="btn btn-primary btn-block" id="fetch_attendance">Fetch</button>
                </div>
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (right) -->
        </div>
          <div id="student_data" class="card-footer">

          </div>
      </div>
    </section>
    <!-- /.content -->
  {% endblock main_content %}
  {% block custom_js %}
  <script>
      $(document).ready(function(){
          $("#fetch_attendance").click(function(){
              var subject = $("#subject").val()
              var term = $("#term").val()

              $.ajax({
                  url:'{% url "get_students_attendance" %}',
                  type:'POST',
                  data:{subject:subject,term:term},
              })
              .done(function(response){
                  var json_data=JSON.parse(response);
                  console.log(json_data)
                  var div_data="<div class='form-group'><label>Attendance Date</label><input type='date' name='attendance_date' id='attendance_date' class='form-control'></div><div class='form-group'><div class='row'>";
                  for(key in json_data)
                  {
                      div_data+="<div class='col-lg-2'><div class='form-check'><input type='checkbox' checked='checked' name='student_data[]' value='"+json_data[key]['id']+"'><label class='form-check-label'>"+json_data[key]['name']+"</label></div></div>";
                  }
                  div_data+="</div></div>";
                  div_data+="<div class='form-group'>";
                  div_data+="<button id='save_attendance' class='btn btn-success btn-block' type='button'>Save Attendance</button>";

                  $("#student_data").html(div_data);
              })
              .fail(function(response){
                  alert("Error. Cannot fetch data")
              })

              $(document).on("click","#save_attendance",function(){
                  $(this).attr("disabled","disabled")
                  $(this).text("Saving Attendance...")
                  var student_data=$("input[name='student_data[]']").map(function(){
                        if($(this).is(":checked")){
                          return {"id":$(this).val(),"status":1};
                        }
                        else{
                          return {"id":$(this).val(),"status":0};
                        }
                  }).get()
                  var attendance_date=$("#attendance_date").val();
                  var subject_id=$("#subject").val();
                  var term_id=$("#term").val();
                  console.log(student_data)
                  student_data=JSON.stringify(student_data)

                  $.ajax({
                      url:'{% url "save_attendance_data" %}',
                      type:'POST',
                      data:{student_ids:student_data,attendance_date:attendance_date,subject_id:subject_id,term_id:term_id},
                  })
                  .done(function(response){
                    if(response=="OK"){
                      alert("Attendance Data Saved")
                    }
                    else{
                      alert("Couldn't Save Attendance Data")
                    }
                    location.reload()
                  })
                  .fail(function(response){
                      alert("Error, Cannot save data")
                  })

                  $("#fetch_attendance_data").click(function(){
                      var subject=$("#subject").val();
                      var term=$("#term_id").val();
                      $.ajax({
                        url:'{% url "get_attendance_dates" %}',
                        type:'POST',
                        data:{subject:subject,term_id:term},
                      })
                      .done(function(response){
                        console.log(response)
                      })
                      .fail(function(response){
                          alert("Error, Cannot save data")
                      })
                  })
              })
          })
      })
  </script>
  {% endblock custom_js %}